# Application Environment
NODE_ENV=development
PORT=4000

# Database Connection (Prisma Postgres)
DATABASE_URL="p"

# Security & JWT Tokens
JWT_ACCESS_SECRET="your-super-secret-access-key"
JWT_REFRESH_SECRET="your-super-secret-refresh-key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# CORS Configuration
CORS_ORIGIN="http://localhost:3000"